langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
langserve[all]
sse_starlette
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
cassio
datasets
openai
tiktoken
PyPDF2
gradio
boto3
awscli
crewai
crewai_tools
pinecone-client
pinecone-text
pinecone-notebooks
neo4j
langchain_openai
langchain_experimental